* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 50px;
  min-width: 1200px;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin-bottom: 10px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #666;
  margin: 5px;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: #666;
  margin: 0 0 25px 0;
}

.wrap {
  text-align: center;
  min-width: 1000px;
  max-width: 1600px;
  margin: 0 auto;
}

.chart-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1100px;
  background-color: #f7f7f7;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 4px 4px 6px #777;
  margin-bottom: 50px;
}

.survey-chart-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 4px 4px 6px #777;

}

.survey-canvas-wrap {
  position: relative;
  width: 50%;
  height: 50%;
  min-width: 1100px;
  margin: 0 auto;
}

.chevron {
  position: absolute;
  top: 22px;
  right: 32px;
  font-size: 30px;
  cursor: pointer;
  transform-origin: 50% 40%;
}

.color-1 {
  color: #3C8DBC;
}

.color-2 {
  color: #D6693C;
}

.color-3 {
  color: #7D6DAB;
}

.color-4 {
  color: #4DBDC4;
}

.color-5 {
  color: #7D6DAB;
}

.color-6 {
  color: #5B9F8F;
}

.color-7 {
  color: #E84D4D;
}

canvas {
  min-width: 100%;
}
